<li  semana="{{semana}}" mes="{{mes}}" ano="{{ano}}" siguiente="{{siguiente}}" {{#if hecho}}completada="true"{{/if}}>
    <div class="panel">
        <figure class="overlay overlay-hover animation-hover" style="height: 199px;">
                <img class="caption-figure overlay-figure" src="images/section.jpg">
                <figcaption class="overlay-panel overlay-background overlay-fade text-xs-center vertical-align">
                  <button type="button" class="btn btn-inverse project-button" onclick="window.open('/componentes?id=1', '_self')">Ver Componentes</button>
                </figcaption>
              </figure>
              <div class="time pull-xs-right">{{siguiente}}
              </div>
              <div style="display: none" class="hecho">{{hecho}}</div>
              <div style="display: none" class="semana">{{siguiente}}</div>
              <div class="text-truncate nombre">{{componentName}}</div>
            </div>
</li>
