<tr>
  <td>{{username}}</td>
  <td>{{password}}</td>
  <td>
  <span class="tag tag-danger">{{rol}}</span>
  </td>
  <td class="text-nowrap">
    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
    data-original-title="Editar" setid={{id}} data-tag='user-edit'>
      <i class="icon md-wrench" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" data-toggle="tooltip"
    data-original-title="Borrar" setid={{id}} data-tag='user-delete'>
      <i class="icon md-close" aria-hidden="true"></i>
    </button>
  </td>
</tr>