<div class="page-header">
      <h1 class="page-title">Componentes de {{padre.componentName}}</h1>
      <div class="breadcrumb">
        <button type="button" class="btn btn-sm btn-primary btn-round" onclick="window.open('/maquinas', '_self')">
        <i class="icon md-chevron-left" aria-hidden="true"></i>
          <span class="text hidden-sm-down">Regresar a Maquinas</span>
        </button>
      </div>
      <div class="page-header-actions">
        <form>
          <div class="input-search input-search-dark">
            <i class="input-search-icon md-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="" placeholder="Search...">
          </div>
        </form>
      </div>
    </div>
    <div class="page-content">
      <div class="projects-sort">
        <span class="projects-sort-label">Ordenar por: </span>
        <div class="inline-block dropdown">
          <span id="projects-menu" data-toggle="dropdown" aria-expanded="false" role="button">
            Elegir
            <i class="icon md-chevron-down" aria-hidden="true"></i>
          </span>
          <div class="dropdown-menu animation-scale-up animation-top-left animation-duration-250"
          aria-labelledby="projects-menu" role="menu">
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Alfabeticamente</a>
            <a class="active dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1">Mayor cantidad de piezas</a>
            <a class="dropdown-item" href="javascript:void(0)" role="menuitem" tabindex="-1"></a>
          </div>
        </div>
      </div>
      <div class="projects-wrap">
        <ul class="blocks blocks-100 blocks-xxl-5 blocks-lg-4 blocks-md-3 blocks-sm-2"
        data-plugin="animateList" data-child=">li">
          {{#each maquinas}}
          <li>
            <div class="panel">
              <figure class="overlay overlay-hover animation-hover"  style="height: 199px;">
                <img class="caption-figure overlay-figure" src="{{#if componentImg}}/uploads/{{componentImg}}{{else}}/photos/sin-imagen{{/if}}.jpg">
                <figcaption class="overlay-panel overlay-background overlay-fade text-xs-center vertical-align">
                    <div class="btn-group">
                      <button type="button" class="btn btn-icon btn-pure btn-default" title="Editar" setid="{{id}}" data-tag=project-edit><i class="icon md-edit" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-icon btn-pure btn-default" title="Eliminar"
                    data-tag="project-delete" setid="{{id}}"><i class="icon md-delete" aria-hidden="true"></i></button>
                  </div>
                  <button type="button" class="btn btn-inverse project-button" onclick="window.open('/detalleComponente?id={{id}}', '_self')">Ver Detalle</button>
                </figcaption>
              </figure>
              <div class="time pull-xs-right">{{nextMaintenance}}</div>
              <div class="text-truncate">{{componentName}}</div>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

    </div>

      </div>
  <!-- Site Action -->
  <div class="site-action" data-target="#addProjectForm" data-toggle="modal" data-plugin="actionBtn">
    <button type="button" data-action="add" class="site-action-toggle btn-raised btn btn-success btn-floating">
      <i class="icon md-plus" aria-hidden="true"></i>
    </button>
  </div>
  <!-- End Site Action -->
  <!-- Add Project Form -->
  <div class="modal fade" id="addProjectForm" aria-hidden="true" aria-labelledby="addProjectForm"
  role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
          <h4 class="modal-title" id="tituloc">AGREGAR COMPONENTE A {{padre.componentName}}</h4>
        </div>
        <div class="modal-body">
          <form action="#" method="post" role="form" id="nuevamaquina" class="form-horizontal">
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NOMBRE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="componentName" name="componentName" placeholder="Nombre"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NÚMERO DE PARTE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="noCtrlPat" name="noCtrlPat" placeholder="No de Parte"></div>
            </div>
            <div class="form-group form-material" style="display: none">
              <label class="form-control-label col-sm-4" for="name">PADRE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="parent" name="parent" value="{{padre.id}}"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">SECCION:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="section" name="section" placeholder="Seccion"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">MARCA:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="vendor" name="vendor" placeholder="Marca"></div>
            </div>
            <div class="form-group form-material">
            <label class="form-control-label col-sm-4" for="name">IMAGEN:</label>
                  <div class="col-sm-8 input-group input-group-file " style="width: 66.666667%">
                    <input type="text" class="form-control" name="nimagen" id="nimagen" readonly="">
                    <input type="hidden" class="form-control" name="componentImg" id="componentImg" readonly="">
                    <input type="hidden" class="form-control" name="id" id="id" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-success btn-file waves-effect waves-light">
                        <i class="icon md-upload" aria-hidden="true"></i>
                        <input type="file" name="imagen" id="imagen" multiple="">
                      </span>
                    </span>
                  </div>
                </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">FRECUENCIA MTTO:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="frequency" name="frequency" data-plugin="asSpinner" value="1" /> Semanas</div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">FECHA SIGUIENTE MTTO:</label>
              <div class="col-sm-8"><input type="text" class="form-control" name="nextMaintenance" id="nextMaintenance" data-plugin="datepicker" placeholder="DD/MM/AAAA"></div>
            </div>

          </form>
        </div>
        <div class="modal-footer text-xs-right">
          <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="enviarmaquina();" id="guardar">Crear</button>
          <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
        </div>
      </div>
    </div>