    <div class="page-header">
      <div class="breadcrumb">
        <button type="button" class="btn btn-sm btn-primary btn-round" onclick="window.open('/componentes?id={{padre.id}}', '_self')">
        <i class="icon md-chevron-left" aria-hidden="true"></i>
          <span class="text hidden-sm-down">Regresar a {{padre.componentName}}</span>
        </button>
      </div>
    </div>
    <div class="page-content container-fluid">
      <div class="row" data-plugin="masonry">
        <div class="col-lg-6 col-xs-12 masonry-item">
          <div class="card card-shadow">
            <div class="card-header bg-blue-600 white p-15 clearfix">
            <a class="avatar avatar-lg pull-xs-left m-r-20" href="{{#if equipo.componentImg}}/uploads/{{equipo.componentImg}}{{else}}/photos/sin-imagen{{/if}}.jpg" data-plugin="magnificPopup"
                              data-close-btn-inside="false" data-fixed-contentPos="true" data-main-class="mfp-margin-0s mfp-with-zoom"
                              data-zoom='{"enabled": "true","duration":"300"}' style="width: 140px;">
                <img src="{{#if equipo.componentImg}}/uploads/{{equipo.componentImg}}{{else}}/photos/sin-imagen{{/if}}.jpg" alt="">
              </a>
              <a class="avatar avatar-lg pull-xs-right m-r-20" href="{{#if equipo.componentImgu}}/uploads/{{equipo.componentImgu}}{{else}}/photos/sin-imagen{{/if}}.jpg" data-plugin="magnificPopup"
                                data-close-btn-inside="false" data-fixed-contentPos="true" data-main-class="mfp-margin-0s mfp-with-zoom"
                                data-zoom='{"enabled": "true","duration":"300"}' style="width: 140px;">
                  <img src="{{#if equipo.componentImgu}}/uploads/{{equipo.componentImgu}}{{else}}/photos/sin-imagen{{/if}}.jpg" alt="">
                </a>
              <div class="font-size-18">{{equipo.componentName}}</div>
              <div class="grey-300 font-size-14">{{padre.componentName}}</div>
            </div>
            <ul class="list-group list-group-bordered m-b-0">
              <li class="list-group-item">
                <span style="float: right; font-weight: bold;">Cada {{equipo.frequency}} Semanas</span>
                <i class="icon md-inbox" aria-hidden="true" draggable="true"></i>Frecuencia de Mantenimiento: 
              </li>
              <li class="list-group-item">
                <span style="float: right; font-weight: bold;">{{equipo.noCtrlPat}}</span>
                <i class="icon md-account" aria-hidden="true" draggable="true"></i>Número de Parte: 
              </li>
              <li class="list-group-item">
                <span style="float: right; font-weight: bold;">{{equipo.section}}</span>
                <i class="icon md-notifications" aria-hidden="true" draggable="true"></i>Sección:
              </li>
              <li class="list-group-item">
                <span style="float: right; font-weight: bold;">{{equipo.vendor}}</span>
                <i class="icon md-info" aria-hidden="true" draggable="true"></i>Marca:
              </li>
            </ul>
          </div>

          <div class="panel panel-bordered panel-primary"  style="padding: 0px;">
            <div class="panel-heading">
              <h3 class="panel-title">Historico de Mantenimientos</h3>
            </div>
            <div class="panel-body" style="padding-right: 5px; padding-left: 5px;">
            <table class="table table-hover" id="listamantenimientos">
              <thead>
                <tr>
                  <th class="w-50">
                  </th>
                  <th>
                    Usuario
                  </th>
                  <th>
                    Tipo de Mtto
                  </th>
                  <th>
                    Fecha
                  </th>
                  {{#if admin}}
                  <th class="hidden-sm-down w-200">
                    Acciones
                  </th>
                  {{/if}}
                </tr>
              </thead>
              {{#each mantenimientos}}
                {{> mantenimiento admin=../admin}}
              {{/each}}
            </table>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-xs-12 masonry-item">
        <div class="panel panel-bordered panel-success" style="padding: 0px;">
            <div class="panel-heading">
              <h3 class="panel-title">REGISTRAR MANTENIMIENTO</h3>
            </div>
            <div class="panel-body">
<form action="#" method="post" role="form" id="nuevomantenimiento" >
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">TIPO DE MTTO</label>
              <div class="col-sm-8">
                <select class="form-control" data-plugin="select2" name="tipo" id="tipo" data-allow-clear="true">
                    <option></option>
                      <option value="1">Planeado</option>
                      <option value="2">No Planeado</option>
                  </select></div>
            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">CAUSA RAIZ:</label>
                            <div class="col-sm-8">
                <select class="form-control" data-plugin="select2" name="causaRaiz" id="causaRaiz" data-allow-clear="true">
                    <option></option>
                      <option value="1">Factores Externos, Refacciones</option>
                      <option value="2">Falta de Habilidad</option>
                      <option value="3">Diseño Debil</option>
                      <option value="4">Falta de Mantenimiento (PM)</option>
                      <option value="5">Falta de Mantenimiento de las Condiciones de Operación</option>
                      <option value="6">Falta de Condiciones Básicas (AM)</option>
                  </select></div>
            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">TIEMPO DE INACTIVIDAD:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="Inactividad" name="Inactividad" data-plugin="asSpinner" value="" /> MINS</div>
            </div>



            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">EWO No:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="ewono" name="ewono" data-plugin="asSpinner" value="" /></div>
            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">AVERÍA</label>
              <div class="checkbox-custom checkbox-primary col-sm-8" style="padding-left: 30px;">
                  <input type="checkbox" id="averia" name="averia" value="2" />
                  <label for="averia">¿Se debió a una Avería?</label>
              </div>
            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NOTAS</label>
              <div class="col-sm-8" style="margin-bottom: 20px;">
              <textarea class="maxlength-textarea form-control" data-plugin="maxlength" data-placement="bottom-right-inside"
                  maxlength="100" rows="3" placeholder="Notas Adicionales al Mantenimiento." name="notas" id="notas"></textarea>
              </div>
            </div>
            <input type="hidden" id="componente" name="componente" value="{{equipo.id}}" />
            <input type="hidden" id="padre" name="padre" value="{{padre.id}}" />
</form>
              <button type="button" class="btn btn-danger btn-block waves-effect waves-light" onclick="registrarmantenimiento();">Registrar Mantenimiento</button>
            </div>

            </div>
          </div>

        </div>
      </div>
    </div>

