<div class="page-header">
    <h1 class="page-title">Secciones de {{padre.componentName}}</h1>
    <h4>{{semanaActual}}</h4>
    <div class="breadcrumb">
        <div class="col-md-3">
            <button type="button" class="btn btn-sm btn-primary btn-round" onclick="window.open('/maquinas', '_self')">
                <i class="icon md-chevron-left" aria-hidden="true"></i>
                <span class="text hidden-sm-down">Regresar a Maquinas</span>
            </button>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <div class="pull-xs-left m-r-20">
                    <input type="checkbox" data-size="large" id="tareas" name="tareas" data-plugin="switchery" data-tag="filtro" class="filtros" 
                        checked />
                </div>
                <label class="p-t-3" for="tareas">Ocultar Tareas <br>Completadas</label>
            </div>
            <div class="col-md-6">
                <div class="pull-xs-left m-r-20">
                    <input type="checkbox" data-size="large" id="semanas" name="semanas" data-plugin="switchery" data-tag="filtro" class="filtros" 
                        checked />
                    </div>
                    <label class="p-t-3" for="semanas">Ocultar Tareas <br>Otras Semanas</label>
                </div>
          </div>
      </div>
      <div class="page-header-actions">
        <form>  
            <div class="site-action" data-target="#reporteModal" data-toggle="modal" data-plugin="actionBtn">
                <button type="button" data-action="add" class="btn btn-sm btn-success btn-round">
                    <span class="text hidden-sm-down">Generar Reporte de Mantenimientos</span>
                    <i class="icon md-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div class="input-search input-search-dark">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input type="text" class="form-control search" name="" placeholder="Buscar...">
            </div>
        </form>
      </div>
</div>
<div class="page-content">
    <div class="projects-sort"></div>
    <div class="projects-wrap">
        <ul class="blocks blocks-100 blocks-xxl-5 blocks-lg-4 blocks-md-3 blocks-sm-2 list"
        data-plugin="animateList" data-child=">li">
          {{#each secciones}}
            {{> seccion admin=../admin}}
          {{/each}}
        </ul>
      </div>

</div>

      </div>
  <!-- Site Action -->
  {{#if admin}}
  <div class="site-action" data-target="#addProjectForm" data-toggle="modal" data-plugin="actionBtn">
    <button type="button" data-action="add" class="site-action-toggle btn-raised btn btn-success btn-floating">
      <i class="icon md-plus" aria-hidden="true"></i>
    </button>
  </div>
  {{/if}}

  {{#if adminArea}}
  <div class="site-action" data-target="#addProjectForm" data-toggle="modal" data-plugin="actionBtn">
    <button type="button" data-action="add" class="site-action-toggle btn-raised btn btn-success btn-floating">
      <i class="icon md-plus" aria-hidden="true"></i>
    </button>
  </div>
  {{/if}}
  <!-- End Site Action -->
  <!-- Add Project Form -->
  <div class="modal fade" id="addProjectForm" aria-hidden="true" aria-labelledby="addProjectForm"
  role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
          <h4 class="modal-title" id="tituloc">AGREGAR COMPONENTE A {{padre.componentName}}</h4>
        </div>
        <div class="modal-body">
          <form action="#" method="post" role="form" id="nuevamaquina" class="form-horizontal">
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NOMBRE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="componentName" name="componentName" placeholder="Nombre"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">NÚMERO DE PARTE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="noCtrlPat" name="noCtrlPat" placeholder="No de Parte"></div>
            </div>
            <div class="form-group form-material" style="display: none">
              <label class="form-control-label col-sm-4" for="name">PADRE:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="parent" name="parent" value="{{padre.id}}"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">SECCION:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="section" name="section" placeholder="Seccion"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">MARCA:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="vendor" name="vendor" placeholder="Marca"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">CLASIFICACIÓN:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="clasificacion" name="clasificacion" placeholder="Clasificacion"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">SMP No.:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="SMP" name="SMP" placeholder="Clasificacion"></div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">DURACIÓN STANDARD:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="duracion" name="duracion" data-plugin="asSpinner" value="" /> MINS</div>
            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="anio">PM ESTRATEGIA:</label>
              <div class="col-sm-8">
                <select class="form-control" data-plugin="select2" name="pmEstrageia" id="pmEstrageia" data-allow-clear="true">
                    <option></option>
                      <option value="TBM">TBM</option>
                      <option value="CBM">CBM</option>
                      <option value="BDM">BDM</option>
                </select>
              </div>


            </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">AM Estandar</label>
              <div class="checkbox-custom checkbox-primary col-sm-3" style="padding-left: 30px;">
                  <input type="checkbox" id="limpieza" name="limpieza" />
                  <label for="limpieza">Limpieza</label>
              </div>
               <div class="checkbox-custom checkbox-primary col-sm-3" style="padding-left: 30px;">
                  <input type="checkbox" id="inspeccion" name="inspeccion" />
                  <label for="inspeccion">Inspección</label>
              </div>
              <div class="checkbox-custom checkbox-primary col-sm-2" style="padding-left: 30px;">
                  <input type="checkbox" id="ajuste" name="ajuste" />
                  <label for="ajuste">Ajuste</label>
              </div>
            </div>

            <div class="form-group form-material">
            <label class="form-control-label col-sm-4" for="name">IMAGEN PARTE:</label>
                  <div class="col-sm-8 input-group input-group-file " style="width: 66.666667%">
                    <input type="text" class="form-control" name="nimagen" id="nimagen" readonly="">
                    <input type="hidden" class="form-control" name="componentImg" id="componentImg" readonly="">
                    <input type="hidden" class="form-control" name="id" id="id" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-success btn-file waves-effect waves-light">
                        <i class="icon md-upload" aria-hidden="true"></i>
                        <input type="file" name="imagen" id="imagen" multiple="">
                      </span>
                    </span>
                  </div>
            </div>

            <div class="form-group form-material">
            <label class="form-control-label col-sm-4" for="name">IMAGEN UBICACIÓN:</label>
                  <div class="col-sm-8 input-group input-group-file " style="width: 66.666667%">
                    <input type="text" class="form-control" name="nimagenu" id="nimagenu" readonly="">
                    <input type="hidden" class="form-control" name="componentImgu" id="componentImgu" readonly="">
                    <span class="input-group-btn">
                      <span class="btn btn-success btn-file waves-effect waves-light">
                        <i class="icon md-upload" aria-hidden="true"></i>
                        <input type="file" name="imagenu" id="imagenu" multiple="">
                      </span>
                    </span>
                  </div>
                </div>

            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">FRECUENCIA MTTO:</label>
              <div class="col-sm-8"><input type="text" class="form-control" id="frequency" name="frequency" data-plugin="asSpinner" value="1" /> Semanas</div>
            </div>
            <div class="form-group form-material">
              <label class="form-control-label col-sm-4" for="name">FECHA SIGUIENTE MTTO:</label>
              <div class="col-sm-4"><input type="text" class="form-control" name="nextMaintenance" id="nextMaintenance" data-plugin="datepicker" placeholder="DD/MM/AAAA"></div>
              <div class="checkbox-custom checkbox-primary col-sm-4"  style="margin-bottom: 20px">
                  <input type="checkbox" id="encendida" name="encendida" />
                  <label for="encendida">Maquina Encendida</label>
              </div>
            </div>

          </form>
        </div>
        
        <div class="modal-footer text-xs-right">
          <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="enviarcomponente();" id="guardar">Crear</button>
          <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
        </div>
        
      </div>
    </div>
    </div>
    <div class="modal fade" id="reporteModal" aria-hidden="true" aria-labelledby="reporteModal"
    role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
            <h4 class="modal-title" id="tituloc">GENERAR REPORTE DE {{padre.componentName}}</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" role="form" id="reporte" class="form-horizontal">
              <div class="form-group form-material">
                <label class="form-control-label col-sm-4" for="anio">AÑO DE REPORTE:</label>
                <div class="col-sm-8">
                  <select class="form-control" data-plugin="select2" name="anio" id="anio" data-allow-clear="true">
                      <option></option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                  </select>
                </div>
              </div>
              <div class="form-group form-material">
                <label class="form-control-label col-sm-4" for="formato">FORMATO:</label>
                <div class="col-sm-8">
                  <select class="form-control" data-plugin="select2" name="formato" id="formato" data-allow-clear="true">
                      <option></option>
                        <option value="PDF">PDF</option>
                        <option value="Excel">Excel</option>
                  </select>
                  <input type="hidden" class="form-control" name="maquina" id="maquina" readonly="" value="{{padre.id}}">
                </div>
              </div>

            </form>
          </div>
          
          <div class="modal-footer text-xs-right">
            <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="generarReporte();">Generar</button>
            <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancelar</a>
          </div>
          
        </div>
      </div>
